@page "/blog"
@page "/blog/{*slug}"
@page "/blog/Categories/{*category}"
@page "/blog/Tags/{*tag}"

@using Dove.Blog.WebApp.Components.Parts

@inherits BlogPage

<PageTitle>@Title</PageTitle>

@if (PageContent == null && Posts == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
        <div class="post col-9">
            @if (PageContent != null)
            {
                <BlogContent CurrentPost="@CurrentPost" PageContent="@PageContent" />
                <BlogNavigation PreviousSlug="@PreviousSlug" NextSlug="@NextSlug" />
            }
            else
            {
                <BlogPostList ListTitle="@ListTitle" Posts="@Posts" />
            }
        </div>

        <div class="sidebar col-3">
            <BlogSidebar Categories="@Categories" Tags="@Tags" />
        </div>
    </div>
}
